<div id="main">
  <section class="post">
    <header class="major">
      <h3 *ngIf="create" class="date">Add
        <br>cyclist</h3>
      <h3 *ngIf="!create && !detail" class="date">Edit
        <br>cyclist</h3>
        <h3 *ngIf="!create && detail" class="date">Cyclist
            <br>detail</h3>
    </header>
    <form #contactForm="ngForm">
      <div class="field">
        <label for="name">Name</label>
        <input [(ngModel)]="cyclist.name" [disabled]="detail" type="text" name="name" id="name" required/>
      </div>
      <div class="field" class="margin-top-form">
        <label for="name">Surname</label>
        <input [(ngModel)]="cyclist.surname" [disabled]="detail" type="text" name="surname" id="surname" required/>
      </div>
      <div class="field" class="margin-top-form">
          <label for="name">Info</label>
          <input [(ngModel)]="cyclist.info" [disabled]="detail" type="text" name="info" id="info" required/>
        </div>
      <div class="field">
        <br>
        <button [disabled]="!contactForm.form.valid" *ngIf="create" (click)="createCyclist(cyclist)">
          Add
        </button>
        <button [disabled]="!contactForm.form.valid" *ngIf="!create && !detail" (click)="updateCyclist(cyclist)">
          Update
        </button>
        <button  *ngIf="!create && detail" (click)="detail = false">
            Edit
          </button>
      </div>
    </form>
  </section>
</div>